#!/usr/bin/env bash
# Адреса шлюзов
gw1=172.20.48.2
gw2=172.20.48.1   

# Приоритизация шлюзов
primarygw=gw1         # работает через оба провайдера, но указанный в приоритете
fixedgw=''            
#fixedgw='gw1'        # если хотим работать только через этого провайдера deffault: fixedgw='' 

# До каких ip будем проверять связь (нужно 2 разных ip)
checkip1=77.88.8.8
checkip2=77.88.8.1
# За какой период времени в секундах смотреть потери
ping_time=20
# меняем маршруты для 
target="1.1.1.1 2.2.2.2"
#target="deffault"              # если нужно менять маршрут по умолчанию
#target="1.1.1.0/24 2.2.2.2"   # если нужно менять маршруты до нескольких хостов\подсетей  
